@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
body{
    font-family: "League Spartan", sans-serif;
}


img{
    width: 100%;
}
.about-section{
    margin-top: 10rem;
}
.our-story{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.our-story-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.our-story-left .title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.our-story-left .desc{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.our-story-left span{
    color:#00a05d;
    font-size: 1rem;
    font-weight: 600;
}
.our-story-left h2, h2 .span{
    font-size: 2.25rem;
    color: #6c757d ;
}
.our-story-left h4{
    font-size: 1.75rem;
    color: #6c757d ;
}
.our-story-left p{
    color:#717275;
    font-size:1.25rem ;
    font-weight: 300;
    line-height:2rem ;
}
.our-story-right{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    
}
#img-1 {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
#img-2{
    width: 350px;
    height: 350px;
    border-radius: 100%;
}



/* large */
@media (min-width: 1200px) {
    
}
  /* medium */
  @media (max-width: 992px) {
    .our-story{
        flex-direction: column;
        align-items: center;
    }
    .our-story-left{
        width: 90%;
    }
    .our-story-right{
        width: 90%;
    }
    .our-story-right{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    #img-1 {
        width: 180px;
        height: 180px;
        
    }
    #img-2 {
        width: 260px;
        height: 260px;
        
    }
  }
  
  /* small */
@media (max-width: 768px) {
    
    .our-story{
        flex-direction: column;
        align-items: center;
    }
    .our-story-left{
        width: 90%;
    }
    .our-story-right{
        width: 90%;
    }
    .our-story-right{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    #img-1 {
        width: 140px;
        height: 140px;
        
    }
    #img-2 {
        width: 200px;
        height: 200px;
        
    }
    
  }