img {
  width: 100%;
}
.shop-section {
  margin-top: 10rem;
}
.titles {
  margin-block: 3rem;
}
.sub-title {
  color: #00a05d;
  font-size: 1rem;
  font-weight: 600;
}
.main-title {
  margin-block: 1rem;
  font-size: 3rem;
  color: #000000;
  font-weight: 600;
}
.main-title > span {
  color: #f65129;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.grid-container .card {
  position: relative;
}
/* .card > *{
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
} */
.card1,
.card2 {
  flex: 1 1 34%; /* Full width */
  gap: 20px;
  overflow: hidden;
}
.card3,
.card4,
.card5 {
  flex: 1 1 calc(33.333% - 20px); /* 3 cards per row */
  border-radius: 10px;
  overflow: hidden;
}
.grid-container .card .img > a > img {
  border-radius: 10px;
}
.grid-container .card .img > h3 {
  margin-top: 17px;
  font-size: 2rem;
}
.grid-container .card .show-icons {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.grid-container .card .show-icons .box-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  height: 70px;
  width: 50px;
}
.grid-container .card .show-icons .box-icons > i {
  color: #717275;
}
.grid-container .card .show-icons .box-icons > i:hover {
  color: #f65129;
}
.grid-container .card .show-icons .price {
  background: white;
  padding: 5px;
  border-radius: 2px;
  position: relative;
}
.grid-container .card .show-icons .price > span {
  font-size: 13px;
  font-weight: 500;
  color: #f65129;
}
.grid-container .card .show-icons .price > span::before {
  content: "";
  display: block;
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  position: absolute;
  top: -7px;
  right: 0;
  left: 0;
}
.grid-container .card .show-info {
  transition: 0.5s ease-in-out;
}
.grid-container .card1 .show-info,
.grid-container .card2 .show-info {
  position: absolute;
  top: 31%;
  left: 39%;
  background-color: #ffd74f;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.card3 .show-info,
.card4 .show-info,
.card5 .show-info {
  position: absolute;
  top: 21%;
  left: 30%;
  background-color: #ffd74f;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.grid-container .card:hover .show-info {
  display: flex;
}
.grid-container .card .show-info:hover {
  background-color: #f65129;
}
.grid-container .card .show-info > a {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.pagination-flex {
  margin-top: 40px;
}
.pagination-flex .item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.pagination-flex .item .chevron-left,
.pagination-flex .item .chevron-right {
  font-size: 20px;
  color: #717275;
  font-weight: 400;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 100px;
  transition: 0.5s ease-in-out;
}
.pagination-flex .item .chevron-left:hover,
.pagination-flex .item .chevron-right:hover {
  background-color: #f65129;
  color: white;
}
.pagination-flex .item ul {
  display: flex;
  gap: 20px;
}
.pagination-flex .item ul li {
  font-size: 20px;
  color: #717275;
  font-weight: 400;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #e9eaeb;
  transition: 0.5s ease-in-out;
}
.pagination-flex .item ul li:hover {
  background-color: #f65129;
  color: white;
  cursor: pointer;
}
.pagination-flex .item ul li.active {
  background-color: #f65129;
  color: white;
}
.review-section {
    margin-block: 4rem;
    background-color: #f9f9f9;
    padding-top: 100px;
}
.review-section  .main-title{
    margin-bottom: 25px;
}
.review-section .card-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.review-section .card-review .card {
  flex: 1 1 calc(33.333% - 20px);
  overflow: hidden;
  background-color: white;
  border-radius: 10px;

}
.review-section .card-review .card h1 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  padding: 50px 15px;
}
.review-section .card-review .card .container-person {
  position: relative;
}
.review-section .card-review .card .container-person .person-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #f65129;
  background: linear-gradient(
    180deg,
    rgba(246, 81, 41, 1) 0%,
    rgba(255, 190, 140, 1) 100%
  );
  padding: 10px 36px;
}
.person-info::before {
  content: "";
  display: block;
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: 22px solid #f65129;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  position: absolute;
  top: -21px;
  left: 48px;
}
.review-section .card-review .card .container-person .person-info img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.review-section .card-review .card .container-person .person-info h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.34rem;
  /* margin-left: 12px; */
  color: #fff;
}
.review-section .card-review .card .person-info h3 > span {
  font-size: 15px;
  font-weight: 400;
}
.review-section .card-review .card .rating-icons {
    display: flex;
    gap: 5px;
    align-items: center;
}
.review-section .card-review .card .rating-icons i {
    color: #ffd74f;
}
.bg-wave{
  margin-top: -69px;
}
@media (max-width: 1024px) {
  .grid-container {
    flex-direction: column;
  }
  .card3 .show-info,
  .card4 .show-info,
  .card5 .show-info {
    top: 40%;
    left: 46%;
  }
  .review-section .card-review {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .grid-container .card .show-info {
    position: absolute;
    top: 25%;
    left: 36%;
  }
  .pagination-flex .item .chevron-left,
  .pagination-flex .item .chevron-right {
    width: 34px;
    height: 34px;
    line-height: 34px;
  }
  .pagination-flex .item ul li {
    font-size: 16px;
    color: #717275;
    font-weight: 400;
    width: 34px;
    height: 34px;
    line-height: 34px;
  }
  .pagination-flex .item {
    gap: 10px;
  }
  .pagination-flex .item ul {
    gap: 9px;
  }
}
